body{
    font-family: "Lexend Deca", sans-serif;
    padding: 20px;
    margin: 60px 0;
    box-sizing: border-box;
    font-size: 15px;
    background: hsl(0, 0%, 95%);
}
.article{
    text-align: justify;
    padding: 8vh 10vw;
}
.heading{
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
    font-size: 2.2rem;
    font-family: "Big Shoulders Display";
}
.text-body{
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.5rem;
    margin-bottom: 10vh;
    
}
.columns a{
    text-decoration: none;
}
.read-more{
    background-color: hsl(0, 0%, 95%);
    border-radius: 40px;
    padding: .9rem 2.3rem;
    text-transform: capitalize;
 
}
#first-article{
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#second-article{
    background-color: hsl(184, 100%, 22%);
}
#third-article{
    background-color: hsl(179, 100%, 13%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#first-btn{
    color: hsl(31, 77%, 52%);
}
#second-btn{
    color: hsl(184, 100%, 22%);
}
#third-btn{
    color: hsl(179, 100%, 13%);
}
#first-btn:hover{
    cursor: pointer;
    background-color: hsl(31, 77%, 52%);
    border: 2px solid hsla(0, 0%, 100%, 0.75);
    color: hsla(0, 0%, 100%, 0.75);
}
#second-btn:hover{
    cursor: pointer;
    background-color:  hsl(184, 100%, 22%);
    border: 2px solid hsla(0, 0%, 100%, 0.75);
    color: hsla(0, 0%, 100%, 0.75);
}
#third-btn:hover{
    cursor: pointer;
    background-color:  hsl(179, 100%, 13%);
    border: 2px solid hsla(0, 0%, 100%, 0.75);
    color: hsla(0, 0%, 100%, 0.75);
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin: 5vh 0;
}
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (min-width: 800px) {
    body{
        padding: 0;
        margin: 6rem 0 0 0;
    }
    .columns{
        display: flex;
        width: 60rem;
        margin: 0 auto;
    }
    .article{
        text-align: justify;
        padding: 8vh 3vw;
    }
    #first-article{
        border-top-left-radius: 10px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 10px;
    }
    #third-article{
        border-top-right-radius: 10px;
        border-top-left-radius: 0;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 0;
    }
}